	body{
		background-image:url("imagenes/fondo.jpg");
		background-repeat:repeat-x;
		background-attachment:fixed;
		color: white;
	}
	
	
	/******capas esctructurales*******/
	
	#general{	
		margin : 0 auto;
		width: 1024px;
		/*background  :yellow;*/
	}
	#cabecera{
		background-image:url("imagenes/logo2.png");
	    height: 300px;
	}
	#menu{

	    height: 100px;		
		position:relative;
		top:193px;
		/*background  :yellow;*/
	}
    #contenido{	
		/*background  :gray;*/
		background-color:#000000 ;
		background: rgba(0, 0, 0, 0.4);
	}
	#pie{
		height  : 78px;
		background-image:url("imagenes/pie.png");
 
	}
	
	
	/*******capas sub-esctructurales*******/
	
	
	#sesion{
		position:absolute;		 
		margin-left : 720px;		
		width:300px;
		
	}	
	#home {
		position:absolute;
		width:500px;
		height : 159px;
		top:40px;
		margin-left : 20px;		
	}
	#home a{
	  display: block;
	  height: 100%;
	  width:  100%;		
	}	
	/****menu****/
	
	#menutop{
		/*background  :blue;	*/
		height  :50px;

	}

	#menu ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	#menu ul li {
		width: 120px;
		height: 30px;
		margin-left: 15px;
		margin-right: 60px;

		float: left;
		text-align: center;
		line-height: 30px;
		font-size: 13px;
		color: white;
		text-decoration: none;
		display: block;
	}
	
	#menubot{	
		height  :50px;
		margin-top : 5px;
		/*background  :red;	*/
	
	}
	
	/****contenido****/
		
	#contenidoSuperior{
		padding-top : 45px;
		text-align: center;
		/*background  :yellow;*/		
	}
	
	#contenidoMedio{
	    margin : 0 auto;
		height  : 50px;
		width :  650px;
	}
	#contenidoMedio ul{	
		list-style: none;
		margin: 0;
		padding: 0;
	}	
	#contenidoMedio ul li{	
		margin: 0;
		padding: 0;
	}		
	#contenidoInferior{
		width :  900px;
	    margin : 0 auto;
	}
	#tabla{
		border-collapse: separate;	
		border-spacing: 0;
		color: black;
	}	
	#nuevoComentario{
		resize: none;
		width:900px;
		height:100px;
		border: none;
		background-color: rgba(169,169,169, 0.6);
	}
	#puntuacion{
		margin-left: 490px;	
	}
	#tituloComentario{
		background-color: rgba(169,169,169, 1);
	}
	#nombre{
		text-align: center;
		z-index: 1;		
		font-family:"Comic Sans MS", cursive, sans-serif;
		
	}
	#buscador{
		visibility: hidden;
		border: 2px solid black;
		margin-left:390px;
		z-index: 3;
		position:absolute;
		width:286px; 
		background-color: white ;
		color:black;
	}
	#sugerenciasBuscador{
		width:280px; 
	}
	
	#videos{
		text-align: center;
	}
	
	#videos  table {
		margin: 0 auto;
	}
	#videos  table td{
		height:100px;
		width : 300px;	
	}		

	#leerMas{
		margin-left:800px;
		color:blue;
	}
	#videosCategorias{
		border: 2px solid white;
		width:240px; 
		height:160px; 
	}
	
	#informacionVideos{
		float: left;
	}
	#video{
		z-index: 1;
	}
	
	/*******clases*******/	

	.cajonEstrellas{
		margin-left:40px;
	}
	.coments {
		border: 3px solid grey;
		border-radius: 10px;
		padding: 5px;	
		background: rgba(255, 255, 255, 0.6);
	}	
	.estrella{
		float: left;
		display:block; 
		width:30px; 
		height:25px; 
		border:none ;
	}
	.nombres{
		font-family:"serif";
		color: blue;
		font-size:19px;

	}	
	
	.error{
		padding : 1em;
		background-color : rgba(200,200,200,0.6);
		font-weight : bold;
		text-transform : uppercase;
		margin-top : 5px;
		opacity : 0;
		transition : all 0.5s;
		-webkit-transition: all 0.5s;
	
	}	
	/*Musica*/
	a.musica:link, a.musica:visited {
		display:block; 
		width:177px; 
		height:50px; 
		text-indent:-9999px;
		background:url(imagenes/botones/musica1.png) no-repeat;
	}
	a.musica:hover, a.musica:active {
		display:block; 
		width:177px; 
		height:50px; 
		text-indent:-9999px;
		background:url(imagenes/botones/musica2.png) no-repeat;
	}
	/*Deportes*/
	a.deportes:link, a.deportes:visited {
		display:block; 
		width:177px; 
		height:50px; 
		text-indent:-9999px;
		background:url(imagenes/botones/deportes1.png) no-repeat;
	}
	a.deportes:hover, a.deportes:active {
		display:block;
		width:177px; 
		height:50px; 
		text-indent:-9999px;
		background:url(imagenes/botones/deportes2.png) no-repeat;
	}
	/*Video Juegos*/
	a.juegos:link, a.juegos:visited {
		display:block;		
		width:177px; 
		height:50px; 
		text-indent:-9999px;
		background:url(imagenes/botones/juegos1.png) no-repeat;
	}
	a.juegos:hover, a.juegos:active {
		display:block;		
		width:177px; 
		height:50px; 
		text-indent:-9999px;
		background:url(imagenes/botones/juegos2.png) no-repeat;
	}	
	/*Social*/
	a.social:link, a.social:visited {
		display:block;		
		width:177px; 
		height:50px; 
		text-indent:-9999px;
		background:url(imagenes/botones/social1.png) no-repeat;
	}
	a.social:hover, a.social:active {
		display:block;
		width:177px; 
		height:50px; 
		text-indent:-9999px;
		background:url(imagenes/botones/social2.png) no-repeat;
	}	
	/*noticias*/
	a.noticias:link, a.noticias:visited {
		display:block;		
		width:177px; 
		height:50px; 
		text-indent:-9999px;
		background:url(imagenes/botones/noticias1.png) no-repeat;
	}
	a.noticias:hover, a.noticias:active {
		display:block;
		width:177px; 
		height:50px; 
		text-indent:-9999px;
		background:url(imagenes/botones/noticias2.png) no-repeat;
	}		
